<!DOCTYPE html>
<html>
  <head>
    <title>KNBS Price Tracker</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>KNBS Price Tracker</h1>
      </header>
      <main>
        <h2>Items</h2>
        <ul>
          <li>Cooking oil</li>
          <li>Petrol</li>
          <li>Rice</li>
          <li>Sugar</li>
          <li>Tomatoes</li>
        </ul>
      </main>
      <footer>
        <p>Copyright 2023 KNBS</p>
      </footer>
    </div>
  </body>
</html>
